.trainee-bg{
    background:rgb(0, 0, 0,0.6) url('https://images.unsplash.com/photo-1534438327276-14e5300c3a48?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8Z3ltfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60') no-repeat center center/cover ;
    height: 100%;
    width: 100%;
    background-blend-mode: darken;
}