.btn{
    position: relative;
}

.btn::after{
    content: '';
    position: absolute;
    width: 83%;
    height: 0.175rem;
    left: 8px;
    bottom: -5px;
    background: #00D0FF;
}

.btn-left::after{
    transform: scale(0,1);
    transform-origin: 0% 100% ;
    transition: transform 0.3s ease;
}

.btn-left:hover::after{
    transform: scale(1,1);
}

.none{
    text-decoration: none;
    list-style: none;
}

.line{
    width: 33px;
    background-color: rgb(255, 255, 255);
    height: 4px;
    margin: 5px 3px;
}

.hamburger{
    display: none;
}

.cross{
    display: none;
}

.point:hover{
    color:#00D0FF;
}
@media only screen and (max-width: 800px) {
    .cross{
        display: inline-block;
    }
    .navbar-resp{
        flex-direction: column;
    }
    .hidden{
        display: none;
    }
    .visible{
        display: block;
    }
    .hamburger{
        display: block;
    }
    .hide{
        display: none;
    }
    .line{
        display: block;
    }
}